@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

caption {
	margin-bottom: 5px;
	color: gray;
}

table {
	border-collapse: collapse;
}

th {
	padding: 5px 0 5px 0;
	background-color: navy;
	color: white;
	border-color: white;
}

a {
	text-decoration: none;
	color: black;
}

.td {
	padding-left: 5px;
}

td a {
	margin-top: 10px;
	padding: 10px 0 10px 0;
}

a:hover {
	font-weight: bold;
}

.c {
	position: relative;
	padding: 3px 0 3px 0;
	color: gray;
}

#reg {
	position: absolute;
	width: 49px;
	right: 1px;
	top: 2px;
}